#disc 
{
    vertical-align: top;
}
.headings
{
    text-align: center;
} 

.form label 
{
    float: left;
    display: block;
    width: 100px;
}
.row2 form
{
    margin-left: 32%;
    margin-top: 6%;
    

}
.inputbox
{
    width: 40%;
}
.form button 
{
    margin-left: 14%;
}


th, td:not(:first-child) {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top:1px solid #ddd; ;
  }
  tr:not(:first-child):hover
  {
color: grey; cursor: pointer;
  }
  .relation
  {
    border-collapse: collapse;
    width: 100%;
      margin-top: 20%;
      
  }
  .buton 
  {
      width: 55%;
       /* background-color: rgb(160, 31, 31);
       color: #fff; */
  }
  .buton2 
  {
      width: 55%;
       background-color:rgb(83, 123, 255);
       color: #fff;
  }
  input[type=submit]{
    width: 20%;
    background-color: rgb(79, 112, 221);
    color: #fff;
    padding: 14px 15px;
    margin-left: 12% ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* .container
{
    width: 500px;
    clear: both;
}
.container label {
    float: left;
    display: block;
    width : 100px;    
}
*/